@model Tuple<List<GProject.WebApplication.Models.ProductDTO>, List<GProject.Data.DomainClass.Color>, List<GProject.Data.DomainClass.Size>, List<GProject.Data.DomainClass.Brand>>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using GProject.WebApplication.Models
@using GProject.Api.MyServices.Services;
@using GProject.Data.DomainClass;
@using GProject.WebApplication.Helpers;
@{
	ViewBag.Title = "Danh sách sản phẩm";
	Layout = "~/Views/Shared/_Layout.cshtml";

	Pager pager = new Pager();
	int pageNo = 0;

	if (ViewBag.Pager != null)
	{
		pager = ViewBag.Pager;
		pageNo = pager.CurrentPage;
	}
}
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="/UserContent/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/UserContent/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/UserContent/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/UserContent/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="/UserContent/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/UserContent/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="/UserContent/styles/categories_responsive.css">
<style>
	.image__img {
		display: block;
		width: 100%;
		height: 280px;
	}

	.image__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		color: #ffffff;
		font-family: 'Quicksand', sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: opacity 0.25s;
	}

	.image__overlay--blur {
		backdrop-filter: blur(5px);
	}

	.image__overlay > * {
		transform: translateY(20px);
		transition: transform 0.25s;
	}

	.image__overlay:hover {
		opacity: 1;
	}

		.image__overlay:hover > * {
			transform: translateY(0);
		}

	.image__title {
		font-size: 2em;
		font-weight: bold;
	}

	.image__description {
		font-size: 1.25em;
		margin-top: 0.25em;
	}

</style>
<div class="super_container">
	<div class="col product_section clearfix">

		<!-- Breadcrumbs -->

		<div class="breadcrumbs d-flex flex-row align-items-center">
			<ul>
				<li><a href="index.html">Trang chủ</a></li>
				<li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Danh sách sản phẩm</a></li>
			</ul>
		</div>

		<!-- Sidebar -->

		<div class="sidebar">
			<div class="sidebar_section">
				<div class="sidebar_title">
					<h5>Product Category</h5>
				</div>
				<ul class="sidebar_categories">
					@{
						foreach (var item in Model.Item4)
						{
							<li><a href="#">@item.Name</a></li>
						}
					}
				</ul>
			</div>
				</div>
			</div>
				</div>
			</div>
				</div>
				</div>
			</div>
		</div>

		<!-- Main Content -->

			<!-- Products -->

			<div class="products_iso">
				<div class="row">
					<div class="col">

						<!-- Product Sorting -->

						<div class="product_sorting_container product_sorting_container_top">
							<ul class="product_sorting">
								<li>
									<span class="type_sorting_text">Default Sorting</span>
									<i class="fa fa-angle-down"></i>
									<ul class="sorting_type">
										<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default Sorting</span></li>
										<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
										<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Product Name</span></li>
									</ul>
								</li>
								<li>
									<span>Show</span>
									<span class="num_sorting_text">6</span>
									<i class="fa fa-angle-down"></i>
									<ul class="sorting_num">
										<li class="num_sorting_btn"><span>6</span></li>
										<li class="num_sorting_btn"><span>12</span></li>
										<li class="num_sorting_btn"><span>24</span></li>
									</ul>
								</li>
							</ul>
							<div class="pages d-flex flex-row align-items-center">
								<div class="page_current">
									<span>1</span>
									<ul class="page_selection">
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
									</ul>
								</div>
							</div>

						</div>
						@{
							var listProductNew = Model.Item1.Where(c => c.Product.ProductType.Contains("1")).ToList();
						}
						@if (listProductNew.Count() > 0)
						{
							<h2><strong>SẢN PHẨM MỚI</strong></h2>
							<div class="product-grid" style="height:450px;">
								@foreach (var x in listProductNew)
								{
									<div class="product-item men">
										<div class="product discount product_filter">
											<div class="image">

												@{
													string image = "";
													if (x.ProductVariations != null && x.ProductVariations.Count > 0)
													{
														var imgItem = x.ProductVariations.Select(c => c.Image).FirstOrDefault();
														image = imgItem != null ? imgItem : "";
													}
												}
												<img class="image__img" src="~/images/@image" alt="Bricks">
												<div class="image__overlay image__overlay--primary">
													<p class="image__description">Mua ngay</p>
													<a class="btn btn-primary" href="/productdetail/@x.Product.Id" style="border-radius:10px;"><i class="fa fa-shopping-cart" style="margin-right:10px;"></i>Thêm vào giỏ hàng</a>
												</div>
											</div>
											<div class="card-body">
												<h4 class="card-title text-center"><strong style="color:red;"> @string.Format("{0:0,0} VNĐ", Convert.ToDouble(x.Product.Price.ToString()))</strong></h4>
												<div>
													<h4 class="card-title text-center"><strong>@x.Product.Name</strong></h4>
												</div>
											</div>
										</div>
									</div>

								}
							</div>
						}

						@{
							var listProductFeatured = Model.Item1.Where(c => c.Product.ProductType.Contains("2")).ToList();
						}
						@if (listProductFeatured.Count() > 0)
						{
							<h2><strong>SẢN PHẨM NỔI BẬT</strong></h2>
							<div class="product-grid" style="height:450px;">
								@foreach (var x in listProductFeatured)
								{
									<div class="product-item men">
										<div class="product discount product_filter">
											<div class="image">

												@{
													string image = "";
													if (x.ProductVariations != null && x.ProductVariations.Count > 0)
													{
														var imgItem = x.ProductVariations.Select(c => c.Image).FirstOrDefault();
														image = imgItem != null ? imgItem : "";
													}
												}
												<img class="image__img" src="~/images/@image" alt="Bricks">
												<div class="image__overlay image__overlay--primary">
													<p class="image__description">Mua ngay</p>
													<a class="btn btn-primary" href="/productdetail/@x.Product.Id" style="border-radius:10px;"><i class="fa fa-shopping-cart" style="margin-right:10px;"></i>Thêm vào giỏ hàng</a>
												</div>
											</div>
											<div class="card-body">
												<h4 class="card-title text-center"><strong style="color:red;"> @string.Format("{0:0,0} VNĐ", Convert.ToDouble(x.Product.Price.ToString()))</strong></h4>
												<div>
													<h4 class="card-title text-center"><strong>@x.Product.Name</strong></h4>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
						}

						@{
							var listProductFavorite = Model.Item1.Where(c => c.Product.ProductType.Contains("3")).ToList();
						}
						@if (listProductFavorite.Count() > 0)
						{
							<h2><strong>SẢN PHẨM ĐƯỢC YÊU THÍCH</strong></h2>
							<div class="product-grid" style="height:450px;">
								@foreach (var x in listProductFavorite)
								{
									<div class="product-item men">
										<div class="product discount product_filter">
											<div class="image">

												@{
													string image = "";
													if (x.ProductVariations != null && x.ProductVariations.Count > 0)
													{
														var imgItem = x.ProductVariations.Select(c => c.Image).FirstOrDefault();
														image = imgItem != null ? imgItem : "";
													}
												}
												<img class="image__img" src="~/images/@image" alt="Bricks">
												<div class="image__overlay image__overlay--primary">
													<p class="image__description">Mua ngay</p>
													<a class="btn btn-primary" href="/productdetail/@x.Product.Id" style="border-radius:10px;"><i class="fa fa-shopping-cart" style="margin-right:10px;"></i>Thêm vào giỏ hàng</a>
												</div>
											</div>
											<div class="card-body">
												<h4 class="card-title text-center"><strong style="color:red;"> @string.Format("{0:0,0} VNĐ", Convert.ToDouble(x.Product.Price.ToString()))</strong></h4>
												<div>
													<h4 class="card-title text-center"><strong>@x.Product.Name</strong></h4>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
						}

						@{
							var listProductPromotional = Model.Item1.Where(c => c.Product.ProductType.Contains("4")).ToList();
						}
						@if (listProductPromotional.Count() > 0)
						{
							<h2><strong>SẢN PHẨM ĐƯỢC GIẢM GIÁ</strong></h2>
							<div class="product-grid" style="height:450px;">
								@foreach (var x in listProductPromotional)
								{
									<div class="product-item men">
										<div class="product discount product_filter">
											<div class="image">

												@{
													string image = "";
													if (x.ProductVariations != null && x.ProductVariations.Count > 0)
													{
														var imgItem = x.ProductVariations.Select(c => c.Image).FirstOrDefault();
														image = imgItem != null ? imgItem : "";
													}
												}
												<img class="image__img" src="~/images/@image" alt="Bricks">
												<div class="image__overlay image__overlay--primary">
													<p class="image__description">Mua ngay</p>
													<a class="btn btn-primary" href="/productdetail/@x.Product.Id" style="border-radius:10px;"><i class="fa fa-shopping-cart" style="margin-right:10px;"></i>Thêm vào giỏ hàng</a>
												</div>
											</div>
											<div class="card-body">
												<h4 class="card-title text-center"><strong style="color:red;"> @string.Format("{0:0,0} VNĐ", Convert.ToDouble(x.Product.Price.ToString()))</strong></h4>
												<div>
													<h4 class="card-title text-center"><strong>@x.Product.Name</strong></h4>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
						}

						@{
							var listProductNomal = Model.Item1.Where(c => c.Product.ProductType.Contains("0")).ToList();
						}
						@if (listProductNomal.Count() > 0)
						{
							<h2><strong>SẢN PHẨM BÌNH THƯỜNG</strong></h2>
							<div class="product-grid" style="height:450px;">
								@foreach (var x in listProductNomal)
								{
									<div class="product-item men">
										<div class="product discount product_filter">
											<div class="image">

												@{
													string image = "";
													if (x.ProductVariations != null && x.ProductVariations.Count > 0)
													{
														var imgItem = x.ProductVariations.Select(c => c.Image).FirstOrDefault();
														image = imgItem != null ? imgItem : "";
													}
												}
												<img class="image__img" src="~/images/@image" alt="Bricks">
												<div class="image__overlay image__overlay--primary">
													<p class="image__description">Mua ngay</p>
													<a class="btn btn-primary" href="/productdetail/@x.Product.Id" style="border-radius:10px;"><i class="fa fa-shopping-cart" style="margin-right:10px;"></i>Thêm vào giỏ hàng</a>
												</div>
											</div>
											<div class="card-body">
												<h4 class="card-title text-center"><strong style="color:red;"> @string.Format("{0:0,0} VNĐ", Convert.ToDouble(x.Product.Price.ToString()))</strong></h4>
												<div>
													<h4 class="card-title text-center"><strong>@x.Product.Name</strong></h4>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
						}
						<!-- Product Sorting -->
						<div class="container">
							@if (pager.TotalPages > 0)
							{
								<ul class="pagination justify-content-end">
									<li class="page-item">
										<a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pg="1">First</a>
									</li>
									<li class="page-item">
										<a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
									</li>

									@for (int pge = pager.StartPage; pge < pager.EndPage; pge++)
									{
										<li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
											<a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pg="@pge"> @pge</a>
										</li>
									}

									<li class="page-item">
										<a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
									</li>
									<li class="page-item">
										<a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
									</li>
								</ul>
							}
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Benefit -->

	</div>

</div>
<script src="/UserContent/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="/UserContent/js/categories_custom.js"></script>