@model GProject.WebApplication.Models.ColorDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using GProject.WebApplication.Models
@using GProject.Api.MyServices.Services;
@{
    ViewBag.Title = "Color";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label {
        color: black;
    }
</style>
<h1>QUẢN LÍ MÀU SẮC</h1>
@if (ViewBag.Error != null)
{
    <p style="visibility: hidden;" id="error">@ViewBag.Error</p>
}
<form id="from1" asp-action="Save" class="form">
    <input asp-for="Id" style="width:0px;height:0px;" />
    <div class="row mt-5">
        <div class="col-md-5">
            <label class="col-md-5"><strong>Mã Màu:</strong></label><span style="color: red">(*)</span>
            <div class="form-input">
                <span class="icon"><i class="fa fa-id-card" aria-hidden="true"></i></span>
                <input asp-for="HEXCode" placeholder="Hex code (#)" required />
                <span asp-validation-for="HEXCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <label class="col-md-5"><strong>Tên Màu:</strong></label><span style="color: red">(*)</span>
            <div class="form-input">
                <span class="icon"><i class="fa-solid fa-signature" aria-hidden="true"></i></span>
                <input asp-for="Name" placeholder="Color name" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <strong><label>Trạng thái</label></strong><span style="color: red">(*)</span>
            <div>
                @Html.DropDownList("Status", new[]
                {
                new SelectListItem{Text="Không sử dụng", Value="0", Selected = (Model.Status != null ? (Model.Status == 0) : true)},
                new SelectListItem{Text="Sử dụng", Value="1",  Selected = (Model.Status != null ? (Model.Status == 1) : false)}
                }, new { @class = "form-control iscompany" })
            </div>
        </div>
        <div class="col-md-2">
            <div style="height:33px;"></div>
            <div class="form-input">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>
<table class="table table-striped table-bordered justify-content-center">
    <thead>
        <tr><th colspan="5" class="text-center" style="background-color:red; color:white;">DANH SÁCH MÀU SẮC</th></tr>
        <tr style="background-color:red; color:white;">
            <th>Mã Màu</th>
            <th>Tên Màu</th>
            <th>Trạng thái</th>
            <th>Chi tiết</th>
            <th>Xóa</th>
        </tr>
    </thead>
    <tbody style="background-color:white;">
        @foreach (var item in Model.ColorList)
        {
            <tr>
                <td>
                    @item.HEXCode
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @(item.Status == 0 ? "Không sử dụng" : "Đang sử dung")
                </td>
                <td>
                    <button class="btn btn-info" onclick="location.href='@Url.Action("Detail", "Color",new { id = item.Id})'" />
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </td>
                <td>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Detail", "Color",new { id = item.Id})'" />
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    document.querySelector('#from1').addEventListener('submit', function (e) {
        var form = this;

        e.preventDefault();

        swal({
            title: "Xác nhận ?",
            text: "Bạn muốn lưu những thay đổi này?",
            icon: "warning",
            buttons: [
                'Không, tôi cần xem lại!!',
                'Có, tôi đồng ý!'
            ],
            dangerMode: true,
        }).then(function (isConfirm) {
            if (isConfirm) {
                swal({
                    title: 'Thành công!',
                    text: 'Bạn đã lưu thành công những thay đổi này!',
                    icon: 'success'
                }).then(function () {
                    form.submit();
                });
            } else {
                swal("Đã hủy", "Bạn đã không lưu những thay đổi này!", "error");
            }
        });
    });
</script>