@*@model GProject.WebApplication.Models.CustomerDTO*@
@model X.PagedList.IPagedList<GProject.Data.DomainClass.Customer>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using GProject.WebApplication.Models
@using GProject.Api.MyServices.Services;
@{
    ViewBag.Title = "Quản lý khách hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}
<style>
    label {
        color: black;
    }

    h1 {
        color: black;
    }

    .sticky-header th {
        position: sticky;
        top: 0px;
        z-index: 1;
        background-color: #E5E5E5;
    }

    .sticky-table {
        border-collapse: separate !important;
    }
</style>

<div class="container">
    @if (@ViewData["Mess"] != null)
    {
        <p style="visibility: hidden;" id="error">@ViewData["Mess"]</p>
    }

    <button class="btn btn-success" id="changeform" type="button" onclick="ChangePanel()">Thêm mới</button>
    <button class="btn btn-outline-secondary text-dark " id="changeformsearch" type="button" onclick="ChangeSearch()">Tìm kiếm</button>

    <form id="formdata" asp-action="Save" class="form" enctype="multipart/form-data">
        <input id="Id" name="Id" hidden="hidden" />
        <div class="row mt-5">
            <div class="row">
                <div class="col-md-4">
                    <label class="col-md-5">Tên khách hàng:</label>
                    <input id="Name" type="text" name="Name" placeholder="Name" maxlength="200" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label class="col-md-5">Email:</label>
                    <input id="Email" name="Email" type="email" placeholder="name@example.com" maxlength="200"
                        class="form-control" />
                </div>
                <div class="col-md-4">
                    <label class="col-md-5">Mật khẩu:</label>
                    <input id="Password" name="Password" type="password" placeholder="password" maxlength="200"
                        class="form-control" />
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="col-md-5">Ngày sinh:<span style="color: red">(*)</span></label>
                    <input id="DateOfBirth" name="DateOfBirth" type="date"
                        value="<?php echo date('Y-m-d'); ?>" maxlength="200" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label class="col-md-5">Số điện thoại:</label>
                    <input id="PhoneNumber" name="PhoneNumber" type="text" placeholder="(+84) ..." maxlength="15"
                        class="form-control" />
                </div>
                <div class="col-md-4">
                    <label>Giới tính:</label>
                    <div>
                        <select id="Sex" name="Sex" class="form-control">
                            <option value="0">Nam</option>
                            <option value="1">Nữ</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label class="col-md-5">Địa chỉ:</label>
                    <input id="Address" name="Address" type="text" placeholder="Address" maxlength="200"
                        class="form-control" />
                </div>
                <div class="col-md-4">
                    <label class="col-md-5">Mô tả:</label>
                    <input id="Description" name="Description" type="text" placeholder="Description" maxlength="200"
                        class="form-control" />
                </div>
                <div class="col-md-4">
                    <label>Trạng thái</label>
                    <div>
                        <select id="Status" name="Status" class="form-control">
                            <option value="1">Hoạt động</option>
                            <option value="0">Không hoạt động</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label class="col-md-5">Hình ảnh:</label>
                    <input id="Image_Upload" name="Image_Upload" type="file" class="form-control" />
                </div>
            </div>
            <div style="margin-top: 10px;">
                <button id="btnSave" class="btn btn-success" type="submit" style="height:40px;width:110px;"><i
                        class="fa fa-plus" aria-hidden="true" style="margin-right:4px;"></i>Lưu</button>
            </div>
        </div>
    </form>
    <hr style="color:red;" />
    <form id="Searchform" name="searchForm" method="post" class="form-horizontal" action="/Customer/Index">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="">Mã khách hàng</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input id="sId" name="sId" value="@ViewData["sId"]" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tên khách hàng</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" id="sName" name="sName" value="@ViewData["sName"]"
                                            class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="email" id="sEmail" name="sEmail" value="@ViewData["sEmail"]"
                                            class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <div class="col-md-9 col-xs-12">
                                        <input type="text" id="sPhone" maxlength="15" name="sPhone"
                                            value="@ViewData["sPhone"]" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Giới tính</label>
                                    <div class="col-md-9">
                                        @{
                                            int gender = int.Parse(Html.Encode(ViewData["sGender"]));
                                        }
                                        @Html.DropDownList("sGender",new[]
                                        {
                                        new SelectListItem{Text="-- Tất cả--", Value="-1", Selected= (gender== -1)},
                                        new SelectListItem{Text="Nam", Value="0", Selected= (gender== 0)},
                                        new SelectListItem{Text="Nữ", Value="1", Selected= (gender == 1)}
                                        }, new { @name = "sGender", @class="searchText form-control select"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Trạng thái</label>
                                    <div class="col-md-9">
                                        @{
                                            int status = int.Parse(Html.Encode(ViewData["sStatus"]));
                                        }
                                        @Html.DropDownList("sStatus",new[]
                                        {
                                        new SelectListItem{Text="-- Tất cả--", Value="-1", Selected= (status== -1)},
                                        new SelectListItem{Text="Không hoạt động", Value="0", Selected= (status== 0)},
                                        new SelectListItem{Text="Hoạt động", Value="1", Selected= (status == 1)}
                                        }, new { @name = "sStatus", @class="searchText form-control select"})
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <button class="btn btn-success" onclick="$('.searchText').removeAttr('disabled')"
                            type="submit"><i class="fa fa-search"></i></button>
                        <a class="btn btn-outline-info" asp-action="Index">
                            <i class="fas fa-undo-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"
                    style="margin-top: 20px; text-align:center; height:50px; padding:10px 10px 10px 10px;">Danh sách
                    khách hàng</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive" style="overflow-y: auto; max-height: 700px;">
                    <table class="table table-bordered table-hover sticky-table">
                        <thead class="sticky-header">
                            <tr>
                                <th style="width: 35px;">STT</th>
                                <th>Hình ảnh</th>
                                <th>Mã khách hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Giới tính</th>
                                <th>Trạng thái</th>
                                <th>Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int i = 1;
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">@i</td>
                                        <td>
                                            <img style="width:120px;height:90px; border;1px solid;"
                                                src="~/images/@item.Image" />
                                        </td>
                                        <td>
                                            @item.CustomerId
                                        </td>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                        <td>
                                            @item.PhoneNumber
                                        </td>
                                        <td>
                                            @(item.Sex == 0 ? "Nam" : "Nữ")
                                        </td>
                                        <td>
                                            @(item.Status == 1 ? "Hoạt động" : "Không hoạt động")
                                        </td>
                                        <td>
                                            <button class="btn btn-info" onclick="ViewCustomerDetail('@item.Id')">
                                                <i class="fas fa-pen-square" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-footer">
                <div style="float: right">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new
                    X.PagedList.Web.Common.PagedListRenderOptions()
                    {
                    ActiveLiElementClass = "active",
                    PageClasses = new[]{ "page-link"},
                    LiElementClasses=new[] { "page-item" },
                    LinkToNextPageFormat = "Next",
                    LinkToPreviousPageFormat = "Prev",
                    })
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        if ($("#sId").val() != '' ||
            $("#sName").val() != '' ||
            $("#sEmail").val() != '' ||
            $("#sPhone").val() != '') {
            $('#Searchform').show();
        }
        else {
            $('#Searchform').hide();
        }

        $('#formdata').hide();
        var er = document.getElementById('error')
        if (er != null) {
            if ($('#error').text() == 'Failed')
                swal("Không thành công", "Vui lòng xem lại thông tin đã nhập", "error");
            else
                swal("Thành công", "Bạn đã lưu thành công thông tin đã nhập", "success");
        }

        $('#sPhone').keyup(function () {
            let regex = /^[0-9]+$/;
            if (!regex.test($(this).val()))
                $(this).val($(this).val().replace(/[^0-9.]/g, ""));
        });

        $('#PhoneNumber').keyup(function () {
            let regex = /^[0-9]+$/;
            if (!regex.test($(this).val()))
                $(this).val($(this).val().replace(/[^0-9.]/g, ""));
        });
    });

    function ChangePanel() {
        if ($("#changeform").text() == "Thêm mới") {
            $('#formdata').show();
            $("#changeform").text("Hủy thay đổi");
        }
        else if ($("#changeform").text() == "Hủy thay đổi") {
            $('#formdata').hide();
            $("#changeform").text("Thêm mới");
            Clear()
        }
    }
    function validatePhoneNumber(code) {
        var regex = /(84|0[3|5|7|8|9])+([0-9]{8})\b/;
        return regex.test(code);
    }
    function ChangeSearch() {
        if ($("#changeformsearch").text() == "Tìm kiếm") {
            $('#Searchform').show();
            //$("#ExpirationDate").val(new Date().toJSON().slice(0,19));
            $("#changeformsearch").text("Hủy tìm kiếm");
        } else if ($("#changeformsearch").text() == "Hủy tìm kiếm") {
            $('#Searchform').hide();
            $("#changeformsearch").text("Tìm kiếm");
        }
    }
    document.querySelector('#formdata').addEventListener('submit', function (e) {
        var form = this;

        e.preventDefault();
        if (checkValidateData()) {
            //swal("Bạn chắc chắn lưu những thay đổi này?", {
            //    title: 'Bạn chắc chắn muốn lưu nhưng thay đổi này?',
            //    icon: 'info',
            //    buttons: ["Không, tôi cần xem lại", "Có, tôi đồng ý"],
            //}).then(function (isConfirm) {
            //    if (isConfirm) {
            //        form.submit();
            //    } else {
            //        swal("Đã hủy", "Bạn đã không lưu những thay đổi này!", "error");
            //    }
            //});
        }
    });
    function ViewCustomerDetail(id) {
        $.getJSON("/Customer/Detail?id=" + id, function (data) {
            $("#Name").val(data.name);
            $("#Email").val(data.email);
            $("#Status").val(data.status);
            $("#Id").val(data.id);
            $("#DateOfBirth").val(data.dateOfBirth.split('T')[0]);
            $("#PhoneNumber").val(data.phoneNumber);
            $("#Sex").val(data.sex);
            $("#Address").val(data.address);
            $("#Description").val(data.description);
            $('#formdata').hide();
            ChangePanel()
        });
    }


    function checkValidateData() {
        var regexPass = /^(?=.*[A-Z])(?=.*\d).{6,50}$/;
        if (!regexPass.test($('#Password').val())) {
            sweetAlert("Thông báo", "Thông tin mật khẩu không hợp lệ", "error");
            return false;
        }
        if ($('#PhoneNumber').val() == '') {
            sweetAlert("Thông báo", "Thông tin số điện thoại không được để trống", "error");
            return false;
        }
        if (!validatePhoneNumber($('#PhoneNumber').val())) {
            sweetAlert("Thông báo", "Số điện thoại không đúng định dạng", "error");
            return false;
        }
        if ($('#Name').val() == '') {
            sweetAlert("Thông báo", "Thông tin tên màu không được để trống", "error");
            return false;
        }
        if ($('#Email').val() == '') {
            sweetAlert("Thông báo", "Thông tin email không được để trống", "error");
            return false;
        }
        if ($('#Address').val() == '') {
            sweetAlert("Thông báo", "Thông tin địa chỉ không được để trống", "error");
            return false;
        }
        if ($('#Image_Upload').val() == '') {
            sweetAlert("Thông báo", "Thông tin hình ảnh không được để trống", "error");
            return false;
        }
        return true;
    }

    function Clear() {
        $("#Id").val('');
        $("#Name").val('');
        $("#Email").val('');
        $("#Password").val('');
        $("#DateOfBirth").val('');
        $("#PhoneNumber").val('');
        $("#Sex").val(0);
        $("#Address").val('');
        $("#Description").val('');
        $("#Status").val(0);
        $("#Image_Upload").val('');
    }

    $(document).ready(function () {
        $("#btnSave").click(function () {

            var regexPass = /^(?=.*[A-Z])(?=.*\d).{6,50}$/;
            if ($('#Name').val() == '') {
                sweetAlert("Thông báo", "Thông tin tên khách hàng không được để trống", "error");
                return false;
            }
            if ($('#Email').val() == '') {
                sweetAlert("Thông báo", "Thông tin email không được để trống", "error");
                return false;
            }
            if (!regexPass.test($('#Password').val())) {
                sweetAlert("Thông báo", "Thông tin mật khẩu không hợp lệ", "error");
                return false;
            }
            if ($('#DateOfBirth').val() == '') {
                sweetAlert("Thông báo", "Thông ngày sinh không được để trống", "error");
                return false;
            }
            if ($('#PhoneNumber').val() == '') {
                sweetAlert("Thông báo", "Thông tin số điện thoại không được để trống", "error");
                return false;
            }
            if (!validatePhoneNumber($('#PhoneNumber').val())) {
                sweetAlert("Thông báo", "Số điện thoại không đúng định dạng", "error");
                return false;
            }
            if ($('#Address').val() == '') {
                sweetAlert("Thông báo", "Thông tin địa chỉ không được để trống", "error");
                return false;
            }
            if ($('#Image_Upload').val() == '') {
                sweetAlert("Thông báo", "Thông tin hình ảnh không được để trống", "error");
                return false;
            }

            var id = $("#Id").val();
            var name = $("#Name").val();
            var email = $("#Email").val();
            var password = $("#Password").val();
            var dateOfBirth = $("#DateOfBirth").val();
            var phoneNumber = $("#PhoneNumber").val();
            var sex = $("#Sex").val();
            var address = $("#Address").val();
            var description = $("#Description").val();
            var status = $("#Status").val();
            var image = $("#Image_Upload").get(0).files[0];
            var data = new FormData();
            data.append('Id', id);
            data.append('Name', name);
            data.append('Email', email);
            data.append('Password', password);
            data.append('DateOfBirth', dateOfBirth);
            data.append('PhoneNumber', phoneNumber);
            data.append('Sex', sex);
            data.append('Address', address);
            data.append('Description', description);
            data.append('Status', status);
            data.append('Image_Upload', image);

            $.ajax({
                url: "/Customer/CheckEmail",
                type: "POST",
                data: { Email: email, Id: id },
                success: function (result) {
                    if (result.success) {
                        $.ajax({
                            url: "/Customer/CheckPhone",
                            type: "POST",
                            data: { PhoneNumber: phoneNumber, Id: id },
                            success: function (result) {
                                if (result.success) {

                                    swal("Bạn chắc chắn lưu những thay đổi này?", {
                                        title: 'Bạn chắc chắn muốn lưu nhưng thay đổi này?',
                                        icon: 'info',
                                        buttons: ["Không, tôi cần xem lại", "Có, tôi đồng ý"],
                                    }).then(function (isConfirm) {
                                        if (isConfirm) {
                                            $.ajax({
                                                url: "/Customer/Save",
                                                type: "POST",
                                                data: data,
                                                contentType: false,
                                                processData: false,
                                                success: function (result) {
                                                    if (result.success) {
                                                        swal("Thành công", "Bạn đã lưu thành công thông tin đã nhập", "success");
                                                        setTimeout(function () {
                                                            location.reload();
                                                        }, 1000);
                                                    } else {
                                                        swal("Thành công!", "Bạn đã lưu thành công thông tin đã nhập", "success");
                                                        setTimeout(function () {
                                                            location.reload();
                                                        }, 1000);
                                                    }
                                                },
                                                error: function (xhr, status, error) {
                                                    alert(error);
                                                }
                                            });
                                        } else {
                                            swal("Đã hủy", "Bạn đã không lưu những thay đổi này!", "error");
                                        }
                                    });

                                } else {
                                    swal("Lỗi", "Số điện thoại đã được đăng ký, vui lòng nhập số khác", "error");
                                }
                            }
                        });
                    }
                    else {
                        swal("Lỗi", "Email đã được đăng ký, vui lòng nhập email khác", "error");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });
    });
</script>